.FeedbackScreen {
  align-items: center;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.FeedbackScreen .ranking-status {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.FeedbackScreen .ranking-status > img {
  width: 15vh;
}
